.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.overlay {
  /*  display: none; */
  position: absolute;
  /* bottom: 20%; */
  left: 0;
  bottom: 0;

  z-index: 2;

  @media screen and (min-width: 1140px) {
    bottom: 20%;
  }

  &:active {
    cursor: not-allowed;
  }

  /*   pointer-events: none;
  content: ''; */

  /* pointer-events: auto; */

  //@media screen and (min-width: 1140px) {
  /*  display: block; */
  /*  position: absolute; */
  /*  top: 0;
    left: 0; */
  /* z-index: 2; */
  //}
}
