.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  /*  margin: 0 -24px; */
  /*  top: 0; */
  left: 0;
  bottom: 20%;
  width: 100%;
  height: 107.5px;
  /* pointer-events: none; */
  /* overflow: hidden;
  cursor: default; */
  /* touch-action: none; */
  /*  opacity: 0; */
  z-index: 2;
}
