:root {
  --color-primary-light: #ffffff;
  --color-header: #706f6f;
  --color-header-sublinks-background: #ddd;
  --color-footer: #707271;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1140px;
/* $bp-max: 1440px; */
