:root {
  --color-primary-light: #ffffff;
  --color-primary-dark: #707271;
  --color-background-dark: #f2f2f2;
  --color-border-gray: #a9a9a9;
  --color-header: #706f6f;
  --color-header-sublinks-background: #ddd;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1140px;
/* $bp-max: 1440px; */
