.button {
  margin-bottom: 8px;
  padding: 5px 10px;
  color: var(--color-primary-dark);
  background-color: transparent;
  font-family: 'Futura PT', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  border: solid 1px var(--color-primary-dark);
  cursor: pointer;
  transition: opacity 500ms ease;

  @media screen and (min-width: 1314px) {
    padding: 0 10px;
    border: 0;
  }

  &:hover {
    opacity: 0.6;
  }

  &__left-border {
    @media screen and (min-width: $bp-desktop) {
      border-left: solid 1px var(--color-primary-dark);
    }
  }

  &__active {
    text-decoration: underline;
    opacity: 0.6;
  }

  &__contact {
    margin-top: 12px;
    padding: 3px 5px;
    max-width: 100%;
    color: var(--color-primary-light);
    /*  font-family: 'Futura PT', sans-serif; */
    font-size: 16px;
    background-color: var(--color-primary-dark);
    line-height: 1.5;
    text-decoration: none;
    border: 0;
    border-radius: 8px;
    /* border-width: 0; */
    /* transition: background-color 0.3s; */
    cursor: pointer;
    transition: opacity 500ms ease;

    &:hover {
      opacity: 0.6;
    }
  }
}
