.button {
  &__contact {
    margin-top: 10px;
    padding: 3px 5px;
    max-width: 100%;
    color: var(--color-primary-light);
    font-family: 'Futura PT', sans-serif;
    font-size: 16px;
    background-color: var(--color-primary-dark);
    line-height: 1.5;
    text-decoration: none;
    border-radius: 8px;
    border-width: 0;
    transition: background-color 0.3s;
    cursor: pointer;
    transition: opacity 500ms ease;

    &:hover {
      opacity: 0.6;
    }
  }
}
