.carousel-button {
  position: absolute;
  /* top: calc(18%); */
  top: calc(18% + 0.16 * (100vw - 360px));
  margin-left: 32px;
  width: 24px;
  height: auto;
  padding: 0;
  fill: var(--color-primary-light);
  background-color: transparent;
  border: 0;
  z-index: 2;
  cursor: pointer;

  @media screen and (min-width: $bp-tablet) {
    top: 38%;
  }

  &.next {
    right: 0;
    margin-left: 0;
    margin-right: 32px;
    transform: rotate(180deg);
  }
}
