.checkbox {
  display: flex;
  /* margin-bottom: 6px; */

  &__radio-group {
    padding-bottom: 4px;
    border-bottom: 2px solid var(--color-border-gray);
  }

  &__container {
    margin-top: 6px;
  }

  &__input {
    /*  align-items: flex-start; */
    border: solid 1px #707271;
    border-radius: 8px;
    margin: 4px;
    width: 13px;
    height: 13px;
    /* width: 100%; */
    background-color: #fff;
    color: #707271;
    /* font-size: 18px; */

    /*  &--footered {
      margin: 0;
    } */
  }

  &__label {
    font-size: 14px;
    cursor: pointer;

    &--contact {
      font-size: 18px;
    }
  }

  &__footer {
    margin: 0;
    margin-right: 4px;
    margin-left: 2px;
  }
}
