.checkbox {
  display: flex;

  &__radio-group {
    padding-bottom: 4px;
    border-bottom: 2px solid var(--color-border-gray);
  }

  &__container {
    margin-top: 6px;
  }

  &__input {
    border: solid 1px var(--color-primary-dark);
    border-radius: 8px;
    margin: 4px;
    width: 13px;
    height: 13px;
    background-color: var(--color-primary-light);
    color: var(--color-primary-dark);
  }

  &__label {
    font-size: 14px;
    cursor: pointer;

    &--contact {
      font-size: 18px;
    }
  }

  &__footer {
    margin: 0;
    margin-right: 4px;
    margin-left: 2px;
  }
}
