.checkbox {
  margin-top: 16px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-brand-normal);

  &__input {
    appearance: none;
  }

  &__label {
    display: block;
    position: relative;
    left: 12px;
    left: 24px;
    margin: 0 auto;
    padding: 1px 0;
    max-width: 500px;
    cursor: pointer;

    &--left-sided {
      margin: 0;
    }

    &::before {
      position: absolute;
      content: '';
      top: 5px;
      left: -20px;
      width: 13px;
      height: 13px;
      border: 1px solid var(--color-primary-dark);
      border-radius: 2px;
      background-color: var(--color-primary-light);
    }
  }

  &__input:checked + &__label::before {
    content: '✔';
    color: var(--color-primary-dark);
    padding-left: 0.5px;
    line-height: 0.9;
  }
}
