.just-validate-error-label,
.just-validate-success-label {
  position: relative;
  padding: 2px 0 4px 8px;
  font-size: 14px;

  @media screen and (min-width: $bp-tablet) {
    padding-top: 3px;
  }
}

.just-validate-success-label {
  color: green;
}
