.just-validate-error-label,
.just-validate-success-label {
  margin-top: 1px;
  margin-top: 4px;
  padding: 2px 0 0 8px;
  padding-top: 0;
  padding: 0;
  padding-left: 6px;
  font-size: 14px;
  color: #dc3232;

  @media screen and (min-width: $bp-tablet) {
    padding-top: 3px;
  }
}

.just-validate-success-label {
  color: green;
}

.get-in-touch-section__contact-info-container .just-validate-error-label,
.get-in-touch-section__contact-info-container .just-validate-success-label {
  font-size: 18px;
}
