.input {
  position: relative;
  /* margin-bottom: 16px; */
  /*   max-height: 36px;
  max-height: 60px; */
  /*   border: 1px solid var(--color-primary-dark);
  border-radius: 8px; */
  border-radius: 8px;
  /* background-color: var(--color-primary-light); */

  @media screen and (min-width: $bp-tablet) {
    /* max-width: 506px; */
    /*  max-width: 600px; */
    /*  max-height: 38px; */
  }

  &--unlimited {
    /*  margin-bottom: 8px; */
    max-width: 100%;
  }

  /* &:focus-within {
    box-shadow: 0 0 0 1.5px black;
    //outline do not support 1.5px
  } */

  &__label {
    display: block;
  }

  &__control {
    display: block;
    width: 100%;
    font-size: 15px;
    line-height: 1.2;
    padding: 8px;
    border: none;
    border: 1px solid var(--color-primary-dark);
    border-radius: 8px;
    /* background-color: transparent; */
    background-color: var(--color-primary-light);

    @media screen and (min-width: $bp-tablet) {
      color: var(--color-primary-dark);
      font-size: 16px;
      font-weight: 300;
      text-align: left;
    }

    &:focus-within {
      box-shadow: 0 0 0 1.5px black;
      //outline do not support 1.5px
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      text-align: center;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      border: none;
      border: 1px solid var(--color-primary-dark);
      border-radius: 8px;
      outline: none;
      -webkit-text-fill-color: inherit;
      /* -webkit-box-shadow: 0 0 0 1000px var(--color-primary-light) inset; */
      -webkit-box-shadow: 0 0 0 1000px rgb(232, 240, 254) inset;
    }

    &--autocompleted {
      &::placeholder {
        text-align: left;
      }

      /*  &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 1000px rgb(232, 240, 254) inset;
      } */
    }

    &--margin-top {
      margin-top: 8px;
    }
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    /* max-width: 506px; */

    /*  &--unlimited {
      max-width: 100%;
    } */
  }
}
