.swiper-container {
  overflow-x: hidden;
  cursor: grab;

  opacity: 0;
  transition: opacity 300ms;
  transition-delay: 300ms;

  &:active {
    cursor: grabbing;
  }
}

.swiper-initialized {
  opacity: 1;
}
