.swiper-container {
  /* position: absolute;
  top: 0;
  left: 0; */
  /* width: 100%; */
  /* opacity: 0; */
  /*   transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: ease; */

  overflow-x: hidden;
  cursor: grab;
  /* z-index: -1; */

  &:active {
    cursor: grabbing;
  }
}
