.get-in-touch-section {
  position: relative;
  padding: 40px 0 52px;

  @media screen and (min-width: $bp-desktop) {
    padding-left: 300px;
    padding-bottom: 80px;
  }

  &__background {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      position: absolute;
      margin-top: -16px;
      margin-left: -300px;
      width: 260px;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    padding: 0 24px;

    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  &__info-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    @media screen and (min-width: $bp-desktop) {
      align-items: flex-start;
    }
  }

  &__contacts-container {
    font-size: 20px;
    display: flex;
    gap: 8px;
  }

  &__contacts-text {
    width: 60px;
  }

  &__contacts {
    color: var(--color-primary-dark);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: opacity 500ms ease;

    @media screen and (min-width: $bp-tablet) {
      font-size: 20px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 21px;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  &__form-container {
    padding: 0 24px;
  }

  &__form-title {
    margin-bottom: 24px;
    font-weight: 400;
  }

  &__thank-you-message {
    display: none;
    font-size: 1.5rem;
    background-color: #f9f9f9;
    border: 2px solid #a9a9a9;
    padding: 15px;
    text-align: center;
    margin: 80px 0 50px;
    border-radius: 5px;
  }

  &__preloader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffffa6;
    z-index: 1;
  }

  &__preloader-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    background-image: url(./images/preloader.gif);
    transform: translate(-50%, -50%);
    z-index: 999;
  }

  &__contact-info-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__form-preferences {
    margin-top: 8px;
  }
}
