.get-in-touch-section {
  position: relative;
  padding: 40px 0 52px;

  @media screen and (min-width: $bp-desktop) {
    padding-left: 300px;
    padding-bottom: 80px;
  }

  &__background {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      position: absolute;
      margin-top: 16px;
      margin-left: -300px;
      width: 260px;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    padding: 0 24px;

    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  &__info-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    @media screen and (min-width: $bp-desktop) {
      align-items: flex-start;
    }
  }

  &__contacts {
    color: var(--color-primary-dark);
    font-size: 18px;
    text-decoration: none;
    transition: opacity 500ms ease;

    @media screen and (min-width: $bp-tablet) {
      font-size: 20px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 21px;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  &__form-container {
    padding: 0 24px;
  }

  &__form-title {
    margin-bottom: 24px;
    font-weight: 400;
  }

  &__contact-info-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__form-preferences {
    margin-top: 8px;
  }
}
