.hero-section {
  position: relative;

  &__logo {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 2;
    }

    &--size {
      max-width: 280px;
      width: 280px;
    }
  }

  &__slider {
    position: relative;
    /* display: flex;
    align-items: center; */
    /*   gap: 32px; */
  }

  &__button {
    display: flex;

    /*    @media screen and (min-width: $bp-tablet) {
      display: flex;
    } */
  }

  &__image {
    /* display: inline-block;
    vertical-align: middle; */
    max-width: 100%;
    height: auto;
  }

  &__gradient {
    position: absolute;
    top: 0;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }

  &__text-part {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /*  top: 70%;
    left: 0; */
    bottom: 20%;
    width: 100%;
    height: 220px;
    /*  height: 130px; */
    padding: 10px 20px 20px;
    color: var(--color-primary-light);
    background: rgba(108, 197, 233);
    /* min-height: inherit !important; */
    font-weight: 500;
    /* pointer-events: none; */ //вот эта
    cursor: default;

    @media screen and (min-width: $bp-tablet) {
      gap: 8px;
      height: 150px;
    }

    @media screen and (min-width: $bp-desktop) {
      position: absolute;
      padding-top: 15px;
      background: rgba(108, 197, 233, 0.8);
      transform: ease;
    }

    /*     & * {
      pointer-events: none;
    }

    &:hover {
      transform: none;
    } */
  }

  &__title {
    /* font-size: 30px; */
    font-size: 36px;
    font-weight: 500;

    opacity: 0;
    animation: appear 450ms ease forwards;
    animation-delay: 450ms;

    @keyframes appear {
      to {
        opacity: 1; /* final state: visible */
      }
    }

    @media screen and (min-width: $bp-tablet) {
      font-size: 36px;
    }
  }

  &__text {
    /* font-size: 16px; */
    font-size: 18px;
    /*  line-height: 1.5; */
    opacity: 0;
    animation: appear 450ms ease forwards;
    animation-delay: 450ms;

    @keyframes appear {
      to {
        opacity: 1; /* final state: visible */
      }
    }

    @media screen and (min-width: $bp-tablet) {
      /* font-size: 18px; */
      /*   line-height: 1.25; */
    }
  }
}
